body {
    background-color: cyan;
}

h1 {
    font-size: 60px;
    font-family: "Trirong", serif;
}

p {
    font-size: 20px;
    font-family: "Inter", serif;
}

.donate {
    background-color: orangered;
    color: aqua;
    width: 80px;
    height: 50px;
}

.composition {
    color: darkblue;
}

ul{
    font-size: 17.5px;
    font-family: "Inter", serif;
}